@model CapaPresentacionAdmin.Models.ModeloColor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="margin-top: 50px">Eliminar Modelo Colores</h2>


<h3>¿Estas seguro que quieres eliminar este color?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modelo.SKU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.SKU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div style="margin-top: 10px" class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-success" /> 
        <a class="btn btn-danger" href="http://localhost:57070/ModeloColores/index">Volver</a>

    </div>
    }
</div>
