@model IEnumerable<CapaPresentacionAdmin.Models.Color>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                      <h2 class="text-center" style="margin-top: 50px">Colores</h2>

                      <div class="row">
                          <hr />
                          <div class="col-12">
                              <a class="btn btn-success" href="http://localhost:57070/Colores/Create">Crear nuevo</a>
                          </div>
                      </div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
               

                @Html.ActionLink("Editar", "Edit", "Colores", new { Id = item.Codigo },
                new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
                @Html.ActionLink("Detalles", "Details", "Colores", new { Id = item.Codigo },
                new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
                @Html.ActionLink("Eliminar", "Delete", "Colores", new { Id = item.Codigo },
                new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
            </td>
        </tr>
    }

</table>
